<% require 'uri' %>
<head>
  <h1><%= @identifier.capitalize + " Statistics" %> </h1>
</head>
    <div class='container'>
      <div class='container'>
        <h1 class="navbar-brand"> Events</h1>
        <h6><u>Most received event to least received event</u></h6>
        <% @event_analytics[:events].each do |k, v| %>
          <a href="/sources/<%= @identifier %>/events/<%= URI::parse(k).path%>"><%= k %></a> --- <%= v %>
          <br>
        <% end %>
      </div>
    </div>
