lll<head>
<h1 class="center blue-text text-lighten-2"><%= @identifier.capitalize + " Statistics" %> </h1>
</head>
  <div class='container'>
    <div class='center'>

<table class="striped z-depth-2 centered">
    <thead>
      <tr>
        <th data-field="id">Category</th>
        <th data-field="name">Type</th>
        <th data-field="price">Frequency</th>
      </tr>
    </thead>
    <tbody>
              <tr>
                <td><div id="http_verbs"><lh>HTTP Verb Most Used</lh></td>
                  <% freq = @http_verb.inject(Hash.new(0)) { |h,v| h[v] += 1; h } %>
                  <td><%= freq.max_by { |v| freq[v] }.first %></td>
                  <td><%= freq.max_by { |v| freq[v] }.second %></td>
                </div>
              </tr>

              <tr>
                <td><div id="most_referred_by"><lh>Most Referred By</lh></td>
                  <% freq = @referred_by.inject(Hash.new(0)) { |h,v| h[v] += 1; h } %>
                  <% word = freq.max_by { |v| freq[v] }.first %>
                  <% word = word.gsub("http://", "")%>
                  <% word = word.gsub(".com", "")%>
                  <% word = word.gsub("www.", "")%>
                  <td><%= word.capitalize %></td>
                  <td><%= freq.max_by { |v| freq[v] }.second %></td>
              </tr>

              <tr>
                <td><div id="most_popular_agents"><lh>Most Popular User Agents</lh></td>
                <% freq = @http_verb.inject(Hash.new(0)) { |h,v| h[v] += 1; h } %>
                <td><%= @platform %></td>
                <td><%= freq.max_by { |v| freq[v] }.second %></td>
                </div>
              </tr>

              <tr>
                <td><div id="average_response_time"><lh>Average Response Time</lh></td>
                  <td>Seconds</td>
                  <td><%= (@response_time.inject(:+))       /(@response_time.length) %></td>
                </div>
              </tr>

              <tr>
                <td><div id="longest_response_time"><lh>Longest Response Time</lh></td>
                  <td> Seconds</td>
                  <td><%= @response_time.max %></td>
                </div>
              </tr>

              <tr>
                <td><div id="shortest_response_time"><lh>Shortest Response Time</lh></td>
                  <td> Seconds</td>
                  <td><%= @response_time.min %></td>
                </div>
              </tr>
</table>

    </div>
  </div>
