<head>
<h1><%= @identifier.capitalize + " Statistics" %> </h1>
</head>
  <div class='container'>

    <div id="http_verbs">
      <lh>The HTTP Verb Used Is:</lh>
      <% @http_verb.each do |verb| %>
      <li><%= verb %></li>
      <% end %>
    </div>

    <div id="most_referred_by">
      <lh>Page Most Referred By:</lh>
      <% @referred_by.each do |referrer| %>
      <li><%= referrer %></li>
      <% end %>
    </div>

    <div id="most_popular_agents">
      <lh>Most Popular User Agents:</lh>
      <%= @platform %>
    </div>

    <div id="average_response_time">
      <lh>Average Response Time:</lh>
      <%= (@response_time.inject(:+))/(@response_time.length) %>
    </div>

    <div id="longest_response_time">
      <lh>Longest Response Time:</lh>
      <%= @response_time.max %>
    </div>

    <div id="shortest_response_time">
      <lh>Shortest Response Time:</lh>
      <%= @response_time.min %>
    </div>
    </div>

  </div>
